.available-items{
  flex:1;
  height:80vh;
  display:grid;
  grid-template-columns: repeat(3,auto);
  padding: 1rem;
  border-radius: 1rem;
  -webkit-box-shadow: -5px 5px 15px rgba(0,0,0,0.4);
  -moz-box-shadow: -5px 5px 15px rgba(0,0,0,0.4);
  overflow-y:scroll;
}
.available-items::-webkit-scrollbar {
  display: none;
}
.available-items {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.available-items button{
  margin:0.2rem;
  /* border-radius:0.5rem; */
  padding: 0.5rem;
  font-family: Roboto;
  font-size:1rem;
  background-color: #e7e7e7; 
  color: black;
}
.available-items button:hover{
  background-color: rgb(93, 93, 196); 
  color: white;
}